:root {
	--fs: 16px;
	--icon-size: 16px;
	--ff-base: "Montserrat", sans-serif;
	--b-radius: 4px;
	--transition: 0.3s ease-in-out;
	--letter-spacing: 0.5px;
	--padding: 16px;
	--margin: 16px;
	--font-size: 16px;
	--line-height: 1.5;
	--c-primary: #212529;
	--c-text-primary: #fff;
	--c-secondary: #24373d;
	--c-text-secondary: #223344;
	--c-primary-hover: #5c5acc;
	--c-hover-button: #0f5daa;
	--c-primary-cursor: #cfc720;
	--c-error: #ff4d4d;
	--c-primary-border: #0028ffcc;
	--c-secondary-border: #a0a0a0;
	--c-success-border: #00ff00;
	--c-danger-border: #ff0000;
	--c-warning-border: #ffff00;
	--c-info-border: #00ffff;
	--c-success: #2bb729;
	--c-error-hover: #cc0000;
	--c-shadow: rgba(0, 0, 0, 0.5);
	--c-table-shadow: rgba(0, 0, 0, 0.15);
	--c-placeholder: #666666;
	--c-bg-item: #1c1c1c;
	--c-text-body-secondary: #6c757d;
	--c-code-hover: #007eff;
	--c-shadow-table: rgba(0, 0, 0, 0.2);
	--c-primary-table: #cfe2ff;
	--c-secondary-table: #e2e3e5;
	--c-success-table: #d1e7dd;
	--c-danger-table: #f8d7da;
	--c-warning-table: #fff3cd;
	--c-info-table: #cff4fc;
	--c-light-table: #f8f9fa;
	--c-table-striped: #2c3034;
	--c-border: #495057;
	--c-site: #f5f6f8; 
	--c-d-site: #1c4b75;
	--c-topbar: #6ea7ff;
	--c-intro: #80e0ff;
	--c-text: #333333;
	--c-scroll: #e0e0e0;
	--c-scroll-thumb: #757575;
	--c-bg: #cfe2ff;
	--c-b-bg: #e6e6e6;
	--c-dotted: #ccc;
	--c-form-border: #6ea7ff36;
	--c-form-bg: #6ea7ff45;
}

$primary_color: var(--primary_color);

$default-body_color: #242b36;
$body_color: if(variable-exists(--body_color), var(--body_color), $default-body_color);

$default-dark: black;
$dark: if(variable-exists(--dark), var(--dark), $default-dark);

$default-white: white;
$white: if(variable-exists(--white), var(--white), $default-white);

$default-blue-gray: #425155;
$blue-gray: if(variable-exists(--blue-gray), var(--blue-gray), $default-blue-gray);

$default-blue-gray-darken: #262d2e;
$blue-gray-darken: if(variable-exists(--blue-gray-darken), var(--blue-gray-darken), $default-blue-gray-darken);

$default-yellow: #e0dc10;
$yellow: if(variable-exists(--yellow), var(--yellow), $default-yellow);

$default-yellow-darken: #8b890d;
$yellow-darken: if(variable-exists(--yellow-darken), var(--yellow-darken), $default-yellow-darken);

$default-green: #3bc212;
$green: if(variable-exists(--green), var(--green), $default-green);

$default-green-darken: #0a5803;
$green-darken: if(variable-exists(--green-darken), var(--green-darken), $default-green-darken);
//PADDING
$default-padding: 1;
$padding: if(variable-exists(--padding), var(--padding), $default-padding);
$p1: 0;
$p2: 10px * $padding;
$p3: 15px * $padding;
$p4: 20px * $padding;
$p5: 25px * $padding;
//MARGIN
$default-margin: 1;
$margin: if(variable-exists(--margin), var(--margin), $default-margin);
$m1: 0;
$m2: 10px * $margin;
$m3: 15px * $margin;
$m4: 20px * $margin;
$m5: 50px * $margin;
//FONT-SIZE
$default-font-size: 1;
$font-size: if(variable-exists(--font-size), var(--font-size), $default-font-size);
$fs1: 14px;
$fs2: 16px;
$fs3: 20px;
$fs4: 24px;
//LINE-HEIGHT
$default-line-height: 1;
$line-height: if(variable-exists(--line-height), var(--line-height), $default-line-height);
$lh1: 0;
$lh2: 1.2 * $line-height;
$lh3: 1.3 * $line-height;
$lh4: 1.4 * $line-height;
$lh5: 1.5 * $line-height;








/* font family */
$ff-base: "Roboto",
	sans-serif;
$ff-title: "Lato",
	sans-serif;
$ff-second: 'Roboto',
	sans-serif;

/* font-size */
$fs: 16px;


// ===== COLORS =====
$blue: #334D6E;
$sky: #3498DB;
$skyL: #58ACF5;
$grey: #BDBDBD;
$greyL: #F2F2F2;
$red: #A31010;
$redD: #8C1B0F;
$green: #089227;
$white: #fff;
$black: #000;
$dark: #000;