// Colors

$blue: #007eff;
$dark: #1c1c1c;
$white: #ffffff;
$blue-gray: #868401;
$blue-gray-darken: #6d6b07;
$yellow: #e0dc10;
$yellow-darken: #d6d310;
$green: #928907;
$green-darken: #16a085;
$red-darken: #581010;

* {
	margin: 0;
	padding: 0;
}

.index {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--c-text-primary);
	color: var(--c-text-secondary);
	padding: 10px;

	&-title {
		font-size: 36px;
		margin: 20px 0;
		font-weight: bold;
		text-align: center;
	}

	&-avatar {
		width: 100px;
		height: 100px;
	}

	&-readme {
		width: 80%;

		&__title {
			font-size: 26px;
			margin: 20px 0;
			font-weight: bold;
		}

		&__item {
			border: 1px solid var(--c-border);
			position: relative;
			margin: 20px 0;
			font-size: 18px;
			background: var(--c-bg-item);
			padding: 10px;
			padding-left: 30px;
			border-radius: 5px;
		}

		&__code {
			font-style: italic;
			color: var(--c-code-hover);
		}

		&__link {
			text-decoration: underline;
			color: var(--c-code-hover);

			&:hover {
				color: var(--c-primary-hover);
				text-decoration: underline;
			}
		}
	}
}

.template-red-text {
	color: red;
}

.list-style {
	list-style-type: disc;
	padding-left: 20px;
}

blockquote {
	margin: 0;

	p {
		margin: 0;
	}
}

figure {
	margin: 0;

	blockquote {
		margin: 0;

		p {
			margin: 0;
		}
	}

	.blockquote-footer {
		display: block;
		font-size: 80%;
		color: var(--c-text-body-secondary);

		cite {
			font-style: normal;
		}
	}
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: bold;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.h1 {
	font-size: 2.5rem;
}

.h2 {
	font-size: 2rem;
}

.h3 {
	font-size: 1.75rem;
}

.h4 {
	font-size: 1.5rem;
}

.h5 {
	font-size: 1.25rem;
}

.h6 {
	font-size: 1rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-weight: 300;
	line-height: 1.2;
}

.display-1 {
	font-size: calc(1.625rem + 4.5vw);
	margin-bottom: 10px;
}

.display-2 {
	font-size: calc(1.575rem + 3.9vw);
	margin-bottom: 10px;
}

.display-3 {
	font-size: calc(1.525rem + 3.3vw);
	margin-bottom: 10px;
}

.display-4 {
	font-size: calc(1.475rem + 2.7vw);
	margin-bottom: 10px;
}

.display-5 {
	font-size: calc(1.425rem + 2.1vw);
	margin-bottom: 10px;
}

.display-6 {
	font-size: calc(1.375rem + 1.5vw);
	margin-bottom: 10px;
}

p {
	.lead {
		font-size: 1.25rem;
		font-weight: 300;
		line-height: 1.6;
	}
}

.text-body-secondary {
	color: var(--c-text-body-secondary);
}

.text-center {

	.blockquote,
	.blockquote-footer {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

.text-end {

	.blockquote,
	.blockquote-footer {
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
	}
}

.list-unstyled {
	padding-left: 0;
	list-style: none;

	&>li {
		list-style: none;
	}

	& ul {
		padding-left: 1rem;
		list-style: disc;

		&>li {
			list-style: disc;
		}
	}
}

.list-inline {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	&>.list-inline-item {
		display: inline-block;
		margin-right: 0.5rem;
	}
}

dl {
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	dt,
	dd {
		margin-bottom: 0.5rem;
	}

	dt {
		font-weight: bold;
		flex: 0 0 25%;
	}

	dd {
		flex: 0 0 75%;
		margin-left: 0;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.col-sm-3 {
			flex: 0 0 25%;
			max-width: 25%;
		}

		.col-sm-4 {
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
		}

		.col-sm-9 {
			flex: 0 0 75%;
			max-width: 75%;
		}

		.col-sm-8 {
			flex: 0 0 66.666667%;
			max-width: 66.666667%;
		}

		&.text-truncate {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.example {
	background-color: var(--c-bg-item);
	margin: 10px 0;
	font-size: 18px;
	padding: 20px;
	padding-left: 30px;
	border-radius: 5px;
	border: 1px solid var(--c-border);

	// &__img {
	// 	border: 1px solid var(--c-border);
	// 	background-color: var(--c-bg-item);
	// 	border-radius: 5px;
	// 	padding: 10px;
	// }
}

.example-img {
	display: flex;
	justify-content: space-between;

	.bd-img {
		border-radius: 5%;
	}
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.img-thumbnail {
	padding: .30rem;
	border: 1px solid var(--c-border);
	border-radius: 5px;
}

.rounded {
	border-radius: 5%;
}

.mx-auto {
	margin-right: auto !important;
	margin-left: auto !important;
}

.d-block {
	display: block;
}

.float {
	&-start {
		float: left !important;
	}

	&-end {
		float: right !important;
	}

	&-none {
		float: none !important;
	}
}

.example-tables {
	border: 1px solid var(--c-border);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;

	&.caption-bottom {
		caption-side: bottom;

		caption {
			text-align: left;
			padding: 8px;
			font-weight: bold;
		}
	}

	&.caption-top {
		caption-side: top;

		caption {
			text-align: left;
			padding: 8px;
			font-weight: bold;
		}
	}

	th,
	td {
		border-bottom: 1px solid var(--c-border);
		padding: 8px;
	}

	th {
		text-align: left;
	}
}

.table {
	&-primary {
		background-color: var(--c-primary-table);
		color: var(--c-text-secondary);
	}

	&-secondary {
		background-color: var(--c-secondary-table);
		color: var(--c-text-secondary);
	}

	&-success {
		background-color: var(--c-success-table);
		color: var(--c-text-secondary);
	}

	&-danger {
		background-color: var(--c-danger-table);
		color: var(--c-text-secondary);
	}

	&-warning {
		background-color: var(--c-warning-table);
		color: var(--c-text-secondary);
	}

	&-info {
		background-color: var(--c-info-table);
		color: var(--c-text-secondary);
	}

	&-light {
		background-color: var(--c-light-table);
		color: var(--c-text-secondary);
	}

	&-dark {
		background-color: var(--c-primary);
		color: var(--c-text-primary);
	}

	&-bordered,
	&-striped,
	&-hover,
	&-active-light,
	&-active-dark {

		>tbody>tr>td,
		>tbody>tr>th,
		>thead>tr>th,
		>thead>tr>td {
			border: 1px solid var(--c-border);
		}
	}

	&-active-light {
		background-color: var(--c-table-striped);
	}

	&-active-dark {
		background-color: var(--c-table-shadow);
	}
}

.striped-light tbody tr:nth-child(odd) {
	background-color: var(--c-table-striped);
}

.striped-dark tbody tr:nth-child(odd) {
	background-color: var(--c-table-shadow);
}

.striped-columns-light tr td:nth-child(even),
.striped-columns-light tr th:nth-child(even) {
	background-color: var(--c-table-striped);
}

.striped-columns-dark tr td:nth-child(even),
.striped-columns-dark tr th:nth-child(even) {
	background-color: var(--c-table-shadow);
}

.table-hover {
	tbody tr:hover {
		background-color: var(--c-shadow-table);
	}
}

.border-primary th,
.border-primary td {
	border: 1px solid var(--c-primary-border);
}

.border-secondary th,
.border-secondary td {
	border: 1px solid var(--c-secondary-border);
}

.border-success th,
.border-success td {
	border: 1px solid var(--c-success-border);
}

.border-danger th,
.border-danger td {
	border: 1px solid var(--c-danger-border);
}

.border-warning th,
.border-warning td {
	border: 1px solid var(--c-warning-border);
}

.border-info th,
.border-info td {
	border: 1px solid var(--c-info-border);
}

.border-light th,
.border-light td {
	border: 1px solid var(--c-text-primary);
}

.border-dark th,
.border-dark td {
	border: 1px solid var(--c-primary);
}

.table-borderless {
	border-collapse: collapse;

	th,
	td {
		border: none;
	}

	thead th {
		border-bottom: 1px solid transparent;
	}

	tbody tr {
		border-top: 1px solid transparent;
	}
}

.table-sm {

	th,
	td {
		padding: 0.3rem;
	}
}

.table-group-divider {
	border-top: 3px solid var(--c-text-primary);
}

.w-25 {
	width: 25% !important;
}

.align-top {
	vertical-align: top !important;
}

.align-bottom {
	vertical-align: bottom !important;
}

.align-middle {
	vertical-align: middle !important;
}

.hscroll {
	overflow-x: hidden;
}

// @media (max-width: 576px) {
// 	.hscroll-sm {
// 		overflow-x: auto;
// 	}
// }

// @media (max-width: 768px) {
// 	.hscroll-md {
// 		overflow-x: auto;
// 	}
// }

// @media (max-width: 992px) {
// 	.hscroll-lg {
// 		overflow-x: auto;
// 	}
// }

// @media (max-width: 1200px) {
// 	.hscroll-xl {
// 		overflow-x: auto;
// 	}
// }

// @media (max-width: 1400px) {
// 	.hscroll-xxl {
// 		overflow-x: auto;
// 	}
// }

.list {
	margin-bottom: 0.5rem;
	border: 1px solid var(--c-border);
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
	overflow: hidden;

	a {
		border-bottom: 1px solid var(--c-border);

		&:hover {
			background-color: var(--c-shadow);
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.list-group {
		display: flex;
		align-items: center;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.strong {
	font-weight: bold;
}

.border {
	border: 1px solid var(--c-border);
}

.text {
	display: flex;
	align-items: center;

	.left,
	.right {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.left {
		border-right: 1px solid var(--c-border);
	}

	.text-waw {
		color: var(--c-primary-hover);
	}

	.text-success {
		color: var(--c-success);
	}

	.text-danger {
		color: var(--c-error-hover);
	}
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: var(--c-topbar);

	&__container {
		display: flex;
		align-items: center;

		&-brand {
			font-weight: bold;
			font-size: larger;
			color: var(--c-site);

			.logo {
				padding: 5px;
				width: 90px;
				height: 70px;
			}

			@media (max-width: 768px) {
				display: none;
				/* Вимикаємо brand на мобільних пристроях */
			}
		}

		&-links {
			display: flex;
			align-items: center;
			font-weight: bold;
			margin-left: auto;
			/* Переміщуємо links праворуч на веб-версії */

			@media (max-width: 768px) {
				order: 1;
				/* Переміщуємо links ліворуч на мобільних пристроях */
				margin-left: 0;
				margin-right: auto;
			}
		}

		&-link {
			display: flex;
			margin-right: 15px;
			font-size: 18px;
			color: var(--c-site);
			text-decoration: none;
			transition: color var(--transition);
			cursor: pointer;
			position: relative;
			border: none;
			background: none;
			transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
			transition-duration: 400ms;
			transition-property: color;

			@media (min-width: 768px) {

				&:focus:after,
				&:hover:after {
					width: 100%;
					left: 0%;
				}

				&:after {
					content: "";
					pointer-events: none;
					bottom: -2px;
					left: 50%;
					position: absolute;
					width: 0%;
					height: 2px;
					background-color: var(--c-primary-hover);
					transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
					transition-duration: 400ms;
					transition-property: width, left;
				}
			}

			&:focus,
			&:hover {
				color: var(--c-primary-hover);
			}

			&:after {
				content: '';
				display: none;
			}

			@media (max-width: 768px) {
				margin-right: 10px;
			}
		}

		&-icon {
			color: var(--c-site);
			margin-top: 7px;

			a {
				margin-right: 6px;

				svg {
					fill: var(--c-site);
					transition: var(--transition);
				}

				&:hover {

					svg {
						fill: var(--c-primary-hover);
					}
				}

				&:after {
					content: '';
					display: none;
				}
			}

			@media (max-width: 768px) {
				order: 2;
				margin-left: auto;
			}
		}
	}
}

.mobile {
	width: 100%;
	height: 100vh;
	z-index: 1;

	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (min-width: 768px) {
		display: none;
	}
}

.web {
	width: 100%;
	height: 100vh;
	z-index: 1;

	video {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}

	@media (max-width: 768px) {
		display: none;
	}
}

.intro {
	@media (max-width: 768px) {
		font-size: 14px;
		color: var(--c-d-site);
		padding: 3rem;
		position: absolute;
		top: 150px;
		left: 0;
		z-index: 9;

		p {
			padding: 10px 0;
		}
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		font-size: 25px;
		color: var(--c-bg);
		padding: 8rem;
		position: absolute;
		top: 120px;
		left: 0;
		z-index: 9;
	}

	@media (min-width: 1024px) and (max-width: 1150px) {
		font-size: 30px;
		color: var(--c-bg);
		padding: 8rem;
		position: absolute;
		top: 120px;
		left: 0;
		z-index: 9;
	}

	@media (min-width: 1150px) {
		font-size: 2em;
		color: var(--c-bg);
		padding: 12rem;
		position: absolute;
		top: 150px;
		left: 0;
		z-index: 9;
	}
}

.main-button {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;

	.active {
		background-color: var(--c-topbar);
	}

	button {
		border-radius: 12px;

		@media (max-width: 768px) {
			appearance: none;
			background-color: var(--c-topbar);
			box-sizing: border-box;
			border: none;
			color: var(--c-site);
			cursor: pointer;
			font-weight: 500;
			line-height: 20px;
			list-style: none;
			padding: 10px 16px;
			position: relative;
			transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			vertical-align: middle;
			white-space: nowrap;
			word-wrap: break-word;
			text-align: center;
			font-size: 1rem;

			a {
				color: var(--c-site);
			}

			&:active {
				background-color: var(--c-intro);
				color: var(--c-d-site);
				transition-duration: 0.3s;
			}

			// Повертаємо початковий стан після завершення кліку
			&:focus {
				background-color: var(--c-topbar);
				color: var(--c-site);
				outline: none;
			}

			// Щоб одразу після кліку стан active не тримався
			&:after {
				content: '';
				display: none;
			}
		}


		@media only screen and (min-width: 768px) and (max-width: 1024px) {
			// width: 200px;
			background-color: var(--c-topbar);
			appearance: none;
			border: 3px solid var(--c-topbar);
			box-sizing: border-box;
			color: var(--c-site);
			cursor: pointer;
			font-size: 20px;
			font-weight: 500;
			line-height: 20px;
			list-style: none;
			padding: 10px 16px;
			position: relative;
			transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			vertical-align: middle;
			white-space: nowrap;
			word-wrap: break-word;
			text-align: center;

			&:hover {
				background-color: var(--c-topbar);
				color: var(--c-text);
				text-decoration: none;
				transition-duration: 0.3s;
			}

			&:focus {
				outline: 1px transparent;
			}

			&:before {
				display: none;
			}

			&:-webkit-details-marker {
				display: none;
			}
		}

		@media (min-width: 1024px) {
			max-width: 280px;
			height: 55px;
			border-radius: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			background-color: var(--c-topbar);
			width: 100%;
			border: none;
			transition: var(--transition);
			cursor: pointer;
			color: var(--c-site);
			padding: 0 1rem;

			&:hover {
				background-color: #0f5daa;
			}
		}
	}
}

.info {
	display: flex;
	align-items: start;
	background-color: var(--c-text-primary);

	@media (max-width: 768px) {
		flex-direction: column;
		text-align: center;
		padding: 20px;

		.description {
			h3 {
				margin: 10px 0px;
			}

			p {
				margin-bottom: 20px;
			}
		}

		svg {
			fill: var(--c-topbar);
		}

		.svg-1 {
			width: 52px;
			height: 52px;
		}

		.svg-2 {
			width: 50px;
			height: 50px;
		}

		.svg-3 {
			width: 50px;
			height: 50px;
		}
	}

	@media (min-width: 768px) {
		justify-content: center;
		text-align: left;
		padding: 3rem 10rem;

		.details {
			display: flex;
			align-items: center;
			width: 500px;
			padding: 0 10px;
		}

		.box {
			display: flex;
			padding: 0px 20px;

			.description {
				h3 {
					margin: 0 0 10px 0;
				}

				p {
					margin-bottom: 20px;
				}
			}
		}

		svg {
			margin-right: 20px;
			fill: var(--c-topbar);
		}

		.svg-1 {
			width: 55px;
			height: 55px;
		}

		.svg-2 {
			width: 50px;
			height: 50px;
		}

		.svg-3 {
			width: 50px;
			height: 50px;
		}

		.description {
			display: flex;
			flex-direction: column;
		}
	}
}

.container {
	&-title {
		font-size: 15px;
		background-color: var(--c-text-primary);
		text-align: center;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media (hover: none) {
	.topbar__container-icon a:hover {
		fill: initial;
		/* Стиль ховера для мобільних пристроїв */
		background: none;
	}
}

.shape-upper {

	svg {
		display: block;
		width: calc(100% + 1.3px);
		position: relative;
		left: 50%;
		top: 3px;
		transform: translateX(-50%) rotate(180deg);
	}
}

.shape-lower {

	svg {
		display: block;
		width: calc(100% + 1.3px);
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media (max-width: 768px) {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	.bg {
		background-color: var(--c-bg);
	}

	.main {
		max-width: 1200px;
		margin: 0 auto;
	}

	img {
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}

	.btn {
		padding: 0.8rem;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 4px;
		font-weight: 400;
		display: block;
		width: 100%;
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: transparent;
	}

	.btn:hover {
		background-color: rgba(255, 255, 255, 0.12);
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.cards_item {
		display: flex;
		padding: 1.25rem;
	}

	@media (min-width: 40rem) {
		.cards_item {
			width: 50%;
		}
	}

	@media (min-width: 56rem) {
		.cards_item {
			width: 33.3333%;
		}
	}

	.card {
		background-color: white;
		border-radius: 0.25rem;
		box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.card_content-blue {
		padding: 1rem;
		background: linear-gradient(to bottom left, #4d68ff 40%, #80e0ff 100%);
	}

	.card_content-pink {
		padding: 1rem;
		background: linear-gradient(to bottom left, #ef5bfc 40%, #ff9ec6 100%);
	}

	.card_content-orange {
		padding: 1rem;
		background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
	}

	.card_title {
		color: #ffffff;
		font-size: 1.1rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: capitalize;
		margin: 0px;
	}

	.card_text {
		color: #ffffff;
		font-size: 0.875rem;
		line-height: 1.5;
		margin-bottom: 1.25rem;
		font-weight: 400;
	}
}

@media (min-width: 768px) {

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	.bg {
		background-color: var(--c-bg);
	}

	.main {
		max-width: 1200px;
		margin: 0 auto;

		ul {
			margin: 40px 0;
		}
	}

	img {
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}

	.btn {
		color: #ffffff;
		padding: 0.8rem;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 4px;
		font-weight: 400;
		display: block;
		width: 100%;
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background: transparent;
	}

	.btn:hover {
		background-color: rgba(255, 255, 255, 0.12);
	}

	.cards {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.cards_item {
		display: flex;
		padding: 1rem;
	}

	@media (min-width: 40rem) {
		.cards_item {
			width: 50%;
		}
	}

	@media (min-width: 56rem) {
		.cards_item {
			width: 33.3333%;
		}
	}

	.card {
		background-color: white;
		border-radius: 0.25rem;
		box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.card_content-blue {
		padding: 1rem;
		background: linear-gradient(to bottom left, #4d68ff 40%, #80e0ff 100%);
	}

	.card_content-pink {
		padding: 1rem;
		background: linear-gradient(to bottom left, #ef5bfc 40%, #ff9ec6 100%);
	}

	.card_content-orange {
		padding: 1rem;
		background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
	}

	.card_title {
		color: #ffffff;
		font-size: 1.1rem;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: capitalize;
		margin: 0px;
	}

	.card_text {
		color: #ffffff;
		font-size: 0.875rem;
		line-height: 1.5;
		margin-bottom: 1.25rem;
		font-weight: 400;
	}
}

@media (min-width: 768px) {
	.testimonials-slider {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: var(--c-text-primary);
		padding: 20px;
		border-radius: var(--b-radius);

		&:active {
			animation: slide 9s infinite;
		}

		@keyframes slide {

			0%,
			100% {
				transform: translateX(0);
			}

			33% {
				transform: translateX(-100%);
			}

			66% {
				transform: translateX(-200%);
			}
		}

		.slide {
			min-width: 100%;
			transition: transform 0.3s ease-in-out;

			.user {
				width: 100%;
				max-width: 600px;
				background-color: var(--c-site);
				color: var(--c-text-primary);
				padding: 20px;
				border-radius: var(--b-radius);
				box-shadow: 0 4px 8px var(--c-shadow);
				margin-bottom: 20px;

				.title {
					h6 {
						font-size: 1.2rem;
						font-weight: bold;
						color: var(--c-primary-hover);
						margin-bottom: 10px;
					}
				}

				hr {
					border: 0;
					height: 1px;
					background-color: var(--c-border);
					margin: 10px 0;
				}

				.description {
					p {
						font-size: 1rem;
						line-height: var(--line-height);
						color: var(--c-text-secondary);
						margin: 0;
					}
				}
			}
		}
	}

	.slick-prev:before,
	.slick-next:before {
		color: var(--c-text-secondary);
	}

	.slider-wrap {
		max-width: 700px;
		margin: 0 auto;
	}

	.slider-item {
		margin: 0 10px;
	}

	.feedback {
		&__card {
			background: var(--c-primary-table);
			padding: 20px;
			border-radius: 20px;
		}

		&__title {
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 20px;
		}
	}
}

@media (max-width: 768px) {
	.testimonials-slider {
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: var(--c-text-primary);
		padding: 20px;
		border-radius: var(--b-radius);

		&:active {
			animation: slide 9s infinite;
		}

		@keyframes slide {

			0%,
			100% {
				transform: translateX(0);
			}

			33% {
				transform: translateX(-100%);
			}

			66% {
				transform: translateX(-200%);
			}
		}

		.slide {
			min-width: 100%;
			transition: transform 0.3s ease-in-out;

			.user {
				width: 100%;
				max-width: 100px;
				background-color: var(--c-site);
				color: var(--c-text-primary);
				padding: 20px;
				border-radius: var(--b-radius);
				box-shadow: 0 4px 8px var(--c-shadow);
				margin-bottom: 20px;

				.title {
					h6 {
						font-size: 1.2rem;
						font-weight: bold;
						color: var(--c-primary-hover);
						margin-bottom: 10px;
					}
				}

				hr {
					border: 0;
					height: 1px;
					background-color: var(--c-border);
					margin: 10px 0;
				}

				.description {
					p {
						font-size: 1rem;
						line-height: var(--line-height);
						color: var(--c-text-secondary);
						margin: 0;
					}
				}
			}
		}
	}

	.slick-prev:before,
	.slick-next:before {
		color: var(--c-text-secondary);
	}

	.slider-wrap {
		max-width: 280px;
		margin: 0 auto;
	}

	.slider-item {
		margin: 0 10px;
	}

	.feedback {
		&__card {
			background: var(--c-primary-table);
			padding: 20px;
			border-radius: 20px;
		}

		&__title {
			font-size: 24px;
			font-weight: 700;
			padding-bottom: 20px;
		}
	}
}

.faq {
	@media (min-width: 768px) {
		margin: 40px auto;
	}

	@media (max-width: 768px) {
		margin: 20px 20px;
	}

	.faq-header {
		font-size: 2em;
		border-bottom: 1px dotted var(--c-dotted);
		padding: 18px;
	}

	.faq-content {
		margin: 0 auto;
	}

	.faq-question {
		padding: 10px 0;
		border-bottom: 1px dotted var(--c-dotted);
	}

	.panel-title {
		font-size: 24px;
		width: 100%;
		position: relative;
		margin: 0;
		padding: 10px 10px 0 48px;
		display: block;
		cursor: pointer;
	}

	.panel-content {
		font-size: 20px;
		padding: 0px 14px;
		margin: 0 40px;
		height: 0;
		overflow: hidden;
		z-index: -1;
		position: relative;
		opacity: 0;
		-webkit-transition: .4s ease;
		-moz-transition: .4s ease;
		-o-transition: .4s ease;
		transition: .4s ease;
	}

	.panel:checked~.panel-content {
		height: auto;
		opacity: 1;
		padding: 14px;
	}

	.plus {
		position: absolute;
		margin-left: 15px;
		margin-top: 4px;
		z-index: 1;
		font-size: 42px;
		line-height: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-transition: .2s ease;
		-moz-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
	}

	.panel:checked~.plus {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.panel {
		display: none;
	}
}

// END FAQ

// form
.form {
	@media (max-width:768px) {
		display: flex;
		justify-content: center;
		background-color: rgba(110, 167, 255, 0.1);
		border: 2px solid var(--c-topbar);
		border-radius: 12px;
		padding: 20px;
		margin: 20px 30px;

		.w-form {
			&__title {
				text-align: center;
				font-size: 20px;
			}
		}
	}


	@media (min-width:768px) {
		background-color: rgba(110, 167, 255, 0.1);
		border: 2px solid var(--c-topbar);
		border-radius: 12px;
		padding: 20px;
		margin: 40px auto;

		.w-form {
			&__title {
				text-align: center;
				font-size: 20px;
			}
		}
	}
}

// END form