// ===== BASE STYLE =====
html {
	font-size: var(--fs);
	height: 100%;
}

body {
	background: var(--c-text-primary);
	padding: 0;
	margin: 0;
	font-family: var(--ff-base);
	color: var(--c-text-secondary);
	line-height: var(--line-height);
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--c-text-primary);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* === PAGE LAYOUT === */
.header {
	background-color: var(--c-topbar);

	&__left,
	&__right {
		display: flex;
		align-items: center;
	}

	&__nav {
		display: flex;
		list-style: none;
		margin: 0 var(--margin);

		@media (max-width: 768px) {
			display: none;
		}

		&--mobile {
			display: none;

			@media (max-width: 768px) {
				display: flex;
			}
		}

		&-link {
			&:hover {
				color: var(--c-primary-hover);
			}

			&--github {
				display: flex;
				align-items: center;
			}
		}
	}

	&__logo-link {
		display: flex;
		align-items: center;
	}

	&__logo {
		width: 45px;
		margin-right: var(--margin);
	}

	&__title {
		font-size: 1.5em;
	}

	&__menu-icon {
		display: none;

		@media (max-width: 768px) {
			display: block;
			font-size: 24px;
			cursor: pointer;
		}
	}
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--padding);
	background-color: var(--c-site);

	&__nav {
		border-right: 1px solid var(--c-secondary);
		width: 250px;
		list-style: none;
		padding: 0;
		margin: 0;


		@media (max-width: 769px) {
			display: none;
		}

		&-in {
			border-left: 1px solid var(--c-placeholder);
			margin-left: 20px;

			&--none {
				display: none;
			}
		}

		&-item {
			margin: 0;

			&--mobile {
				display: none;
			}

			&--active>.main-content__nav-link {
				color: var(--c-primary-hover);
				font-weight: 550;
			}
		}

		&-link {
			display: block;
			padding: var(--padding);
			text-decoration: none;


			&:hover {
				color: var(--c-primary-hover);
				font-weight: 550;
			}
		}
	}

	&__section {
		flex: 1;
		padding: var(--padding);
	}

	&__nav-in-item {
		&:hover>.main-content__nav-link {
			border-left: 1px solid var(--c-primary-hover);
			color: var(--c-primary-hover);
		}
	}
}

.footer {
	width: 100%;
	padding: var(--padding);
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--c-topbar);
	color: var(--c-text);

	&__text {
		margin: 0;
		font-size: 0.9em;

		&-part {
			margin: 0 5px;
		}
	}

	&__link {
		&:hover {
			color: var(--c-primary-hover);
			text-decoration: underline;
		}
	}
}