// ===== BASE STYLE =====
html {
	font-size: var(--fs);
	height: 100%;
	overflow-x: hidden !important;
}

body {
	overflow-x: hidden;
	background: var(--c-text-primary);
	padding: 0;
	margin: 0;
	font-family: var(--ff-base);
	color: var(--c-text-secondary);
	line-height: var(--line-height);
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* === PAGE LAYOUT === */
.header {
	background-color: var(--c-topbar);

	&__left,
	&__right {
		display: flex;
		align-items: center;
	}

	&__nav {
		display: flex;
		list-style: none;
		margin: 0 var(--margin);

		@media (max-width: 768px) {
			display: none;
		}

		&--mobile {
			display: none;

			@media (max-width: 768px) {
				display: flex;
			}
		}

		&-link {
			&:hover {
				color: var(--c-primary-hover);
			}

			&--github {
				display: flex;
				align-items: center;
			}
		}
	}

	&__logo-link {
		display: flex;
		align-items: center;
	}

	&__logo {
		width: 45px;
		margin-right: var(--margin);
	}

	&__title {
		font-size: 1.5em;
	}

	&__menu-icon {
		display: none;

		@media (max-width: 768px) {
			display: block;
			font-size: 24px;
			cursor: pointer;
		}
	}
}

.main-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--padding);
	background-color: var(--c-site);

	&__nav {
		border-right: 1px solid var(--c-secondary);
		width: 250px;
		list-style: none;
		padding: 0;
		margin: 0;


		@media (max-width: 769px) {
			display: none;
		}

		&-in {
			border-left: 1px solid var(--c-placeholder);
			margin-left: 20px;

			&--none {
				display: none;
			}
		}

		&-item {
			margin: 0;

			&--mobile {
				display: none;
			}

			&--active>.main-content__nav-link {
				color: var(--c-primary-hover);
				font-weight: 550;
			}
		}

		&-link {
			display: block;
			padding: var(--padding);
			text-decoration: none;


			&:hover {
				color: var(--c-primary-hover);
				font-weight: 550;
			}
		}
	}

	&__section {
		flex: 1;
		padding: var(--padding);
	}

	&__nav-in-item {
		&:hover>.main-content__nav-link {
			border-left: 1px solid var(--c-primary-hover);
			color: var(--c-primary-hover);
		}
	}
}

.footer {
	background-color: var(--c-topbar);
	color: var(--c-text-primary);
	padding: 20px 0;

	@media(min-width: 768px) {
		&__container {
			display: flex;
			justify-content: space-evenly;
			margin: 0 40px;

			&-brand {
				display: flex;
				align-items: center;

				.text {
					font-weight: bold;
					font-size: larger;
					color: var(--c-site);
				}

				.logo {
					padding: 5px;
					width: 90px;
					height: 70px;
				}
			}

			&-link {
				&:hover {
					color: var(--c-primary-hover);
				}
			}

			&-products {
				display: flex;
				flex-direction: column;
				margin: 0 20px;

				p {
					font-weight: bolder;
					font-size: large;
					margin-bottom: 10px;
				}

				ul {
					list-style: none;
					padding: 0;
				}

				li {
					margin-bottom: 5px;
				}
			}

			&-contacts {
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: flex-start;
				margin: 0 20px;

				p {
					font-weight: bolder;
					font-size: large;
					margin-bottom: 10px;
				}

				ul {
					list-style: none;
					padding: 0;

					li {
						margin-bottom: 5px;

						a {
							display: flex;
							align-items: center;
							transition: color var(--transition);

							svg {
								fill: var(--c-text-primary);
								transition: fill var(--transition);
							}

							span {
								color: var(--c-text-primary);
								transition: color var(--transition);
								margin-left: 10px;
							}

							&:hover {
								svg {
									fill: var(--c-primary-hover);
								}

								span {
									color: var(--c-primary-hover);
								}
							}
						}
					}
				}

				&-link {
					color: var(--c-site);

					&:hover {
						transition: var(--transition);
						color: var(--c-primary-hover);
					}
				}
			}
		}
	}

	@media(max-width: 768px) {
		&__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			text-align: left;

			&-brand {
				display: flex;
				align-items: center;
				margin-bottom: 10px;

				.text {
					font-weight: bold;
					font-size: larger;
					color: var(--c-site);
				}

				.logo {
					padding: 5px;
					width: 90px;
					height: 70px;
				}
			}

			&-link {
				&:hover {
					color: var(--c-primary-hover);
				}
			}

			&-products {
				display: flex;
				flex-direction: column;
				margin: 0 20px 10px 20px;

				p {
					font-weight: bolder;
					font-size: large;
					margin-bottom: 10px;
				}

				ul {
					list-style: none;
					padding: 0;
				}

				li {
					margin-bottom: 5px;
				}
			}

			&-contacts {
				display: flex;
				flex-direction: column;
				justify-content: start;
				align-items: flex-start;
				margin: 0 20px;

				p {
					font-weight: bolder;
					font-size: large;
					margin-bottom: 10px;
				}

				ul {
					list-style: none;
					padding: 0;

					li {
						margin-bottom: 5px;

						a {
							display: flex;
							align-items: center;
							transition: color var(--transition);

							svg {
								fill: var(--c-text-primary);
								transition: fill var(--transition);
							}

							span {
								color: var(--c-text-primary);
								transition: color var(--transition);
								margin-left: 10px;
							}

							&:hover {
								svg {
									fill: var(--c-primary-hover);
								}

								span {
									color: var(--c-primary-hover);
								}
							}
						}
					}
				}

				&-link {
					color: var(--c-site);

					&:hover {
						transition: var(--transition);
						color: var(--c-primary-hover);
					}
				}
			}
		}
	}
}