// ===== SCROLL CUSTOMIZE =====
@media (min-width: 786px) {
    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--c-shadow);
        background-color: var(--c-scroll);
        display: none;
    }

    *::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: var(--c-scroll);
    }

    * ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px var(--c-basic);
        background-color: var(--c-scroll-thumb);
        border-radius: 10px;
    }
}


// ::-webkit-scrollbar {
//     width: 12px;
// }

// /* Фон скролу */
// ::-webkit-scrollbar-track {
//     background: #ffffff; /* білий фон */
// }

// /* Повзунок (кнопочка) */
// ::-webkit-scrollbar-thumb {
//     background-color: #AB82FD; /* колір кнопочки */
//     border-radius: 6px; /* закруглення кнопочки */
//     border: 3px solid #ffffff; /* додатковий білий простір навколо кнопочки */
// }