.faq-item:last-child {
    padding-bottom: 0;
  }

  .faq-item:last-child .faq-item-question {
    border-bottom: 2px solid transparent;
  }

  .faq-item-question {
    display: flex;
    flex-flow: row wrap;
    border-top: 3px solid var(--c-topbar);
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0 10px 30px;
    align-items: center;
    cursor: pointer;
  }

  .faq-item-question p {
    flex: 1 0;
    padding-right: 70px;
  }

  .faq-item-question__btn::before {
    height: 21px;
    width: 2px;
  }

  .faq-item-question__btn::after {
    height: 2px;
    width: 21px;
  }

  .faq-item-answer {
    transition: all .3s;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    border-top: 3px solid var(--c-topbar);
  }

  .faq-item-answer span {
    display: block;
  }

  .faq-item-answer .weight{
    color: var(--c-topbar);
    display: block;
  }

  .faq-item-question__btn{
    transition: all .3s;
    cursor: pointer;
  }

  .faq-item--open .faq-item-question__btn {
    transform: rotate(180deg);
  }

  .faq-item--open .faq-item-answer {
    padding: 20px 70px 20px 30px;
    max-height: unset;
    opacity: 1;
  }

  .faq-form {
    padding-top: 100px;
  }

  .faq-form__title {
    padding-bottom: 50px;
  }

  .faq-form input {
    width: calc(50% - 15px);
  }

  .faq-form input:first-child {
    margin-right: 30px;
  }

  .faq-form textarea {
    width: 100%;
    height: 200px;
    margin-top: 25px;
  }

  .faq-form__btn {
    text-align: center;
    padding-top: 30px;
  }

  .faq-form__btn button {
    padding: 20px 35px;
  }