/* forms
.w-forms {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;

	&__title {
		display: inline-block;
		color: var(--c-text-primary);
		// font-size: calc(#{var(--fs)} - 4px);
		font-size: 19px;
		line-height: calc(#{var(--fs)} + 2px);
		letter-spacing: var(--letter-spacing);
		// margin-bottom: 6px;
		font-weight: 500;
	}

	&__input,
	&__textarea,
	&__select {
		height: 42px;
		background-color: transparent;
		border: 1px solid var(--c-border);
		border-radius: var(--b-radius);
		color: var(--c-text-secondary);
		font-size: calc(#{var(--fs)} - 2px);
		line-height: calc(#{var(--fs)} + 4px);
		transition: var(--transition);
		width: 100%;
		display: block;
		letter-spacing: var(--letter-spacing);
		padding: 10px;

		&::placeholder {
			color: var(--c-placeholder);
			transition: var(--transition);
		}

		&:focus {
			transition: var(--transition);
			border-color: var(--c-primary);
		}

		&:disabled {
			background-color: var(--c-grey);
			border-color: var(--c-grey);
			color: var(--c-grey);
			cursor: default;
			opacity: 0.6;
		}
	}

	&__input {
		&[type='time'] {
			display: block;
			-webkit-appearance: textfield;
			-moz-appearance: textfield;
		}
	}

	&__select {
		appearance: none;
		padding-right: 30px;
	}

	&__chevron {
		position: absolute;
		top: 30px;
		right: 12px;

		&::before {
			color: var(--c-primary);
		}
	}

	&__textarea {
		min-height: 80px;
		resize: vertical;
		max-height: 250px;
		margin-top: 10px;
	}
}
*/


@media (max-width: 768px) {
	.w-forms {
		max-width: 600px;
		padding: 20px;

		&__title {
			font-size: 24px;
			font-weight: 600;
			text-align: center;
			padding: 0 0 15px 0;
		}

		&__item {
			font-size: 18px;
			font-weight: 600;
			text-align: start;
			padding: 0 0 10px 0;
		}

		&__input {
			margin-bottom: 15px;
		}

		&__btn {
			padding-top: 5px;

			.btn {
				width: 100%;
				max-width: 100%;
				font-weight: bold;
				background-color: var(--c-topbar);
			}
		}
	}

	// input
	input {
		width: 100%;
		font-size: 20px;
		padding: 18px 8px;
		border-radius: 10px;
		border: 2px solid var(--c-topbar);
		background: transparent;
		color: var(--c-text-primary);

		&::placeholder {
			color: var(--c-text-primary);
		}
	}

	textarea {
		height: 120px;
		width: 100%;
		font-size: 20px;
		padding: 18px 8px;
		border-radius: 10px;
		border: 2px solid var(--c-topbar);
		background: transparent;
		color: var(--c-text-primary);
		resize: none;
		margin-bottom: 15px;

		&::placeholder {
			color: var(--c-text-primary);
		}
	}

	.radio-input {
		display: flex;
		flex-direction: column;
	}

	.radio-input * {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	.radio-input label {
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 0px 20px;
		width: 273px;
		cursor: pointer;
		height: 50px;
		position: relative;
		margin-bottom: 10px;
	}

	.radio-input label::before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 220px;
		height: 45px;
		z-index: -1;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		border-radius: 10px;
		border: 2px solid transparent;
	}

	.radio-input label:hover::before {
		transition: all 0.2s ease;
		background-color: #2a2e3c;
	}

	.radio-input .label:has(input:checked)::before {
		background-color: #2d3750;
		border-color: var(--c-topbar);
		height: 50px;
		width: 273px;
	}

	.radio-input .label .text {
		color: #fff;
	}

	.radio-input .label input[type="radio"] {
		background-color: #202030;
		appearance: none;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.radio-input .label input[type="radio"]:checked {
		background-color: #435dd8;
		-webkit-animation: puls 0.7s forwards;
		animation: pulse 0.7s forwards;
	}

	.radio-input .label input[type="radio"]:before {
		content: "";
		width: 6px;
		height: 6px;
		border-radius: 50%;
		transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
		background-color: #fff;
		transform: scale(0);
	}

	.radio-input .label input[type="radio"]:checked::before {
		transform: scale(1);
	}

	@keyframes pulse {
		0% {
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
		}

		70% {
			box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
		}

		100% {
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		}
	}
}