.open-modal {
  cursor: pointer;
  // display: inline-block;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  // background-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  // color: var(--c-secondary);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 1px solid var(--c-text-primary);

  p {
    color: var(--c-text-primary);
  }


  svg {

    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
      margin-left: 20px;
    }
  }

  &:hover {
    // background-color: rgba(245, 245, 245, 0.6);
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  transition: opacity 0.3s ease;
  opacity: 0;
  /* Initially invisible */
}

.modal.show {
  display: block;
  /* Show modal */
  opacity: 1;
  /* Visible with transition */
}

.modal-content {
  background-color: #343434;
  /* 10% from the top and centered */
  border: 1px solid #88888859;
  /* Could be more or less, depending on screen size */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform: scale(0.7);
  color: var(--c-text-primary);
  overflow-y: scroll;

  @media (max-width: 768px) {
    padding: 20px 10px;
  }
}

.modal.show .modal-content {
  transform: scale(1);
  /* Scale up to normal size */
}

.close {

  @media (max-width: 768px) {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: color 0.3s ease;
  }

  @media (min-width: 768px) {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    transition: color 0.3s ease;
    margin-right: 1rem;
  }

  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.modal-template {
  display: none;
  /* Hide the template content */
}